*.versionsBackup
.factorypath
pom.xml.releaseBackup
release.properties
target
.project
.settings
.classpath
*.class
*.log
*.bak
*~
bin
gradle
gradlew
.gradle
build
.okhttpcache
.idea/
*iml
*/CHANGELOG.md
